.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.password-modal {
  width: 588px;
  height: 624px;
  flex-shrink: 0;
  background: linear-gradient(131deg, #a40e17 -6.92%, #ff8400 98.4%);
  border-radius: 20px;
  padding: 36px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 36px;
  z-index: 10000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-title {
  color: #fff;
  font-family: Pretendard;
  font-size: 28px;
  font-weight: 700;
  margin: 0;
}

.close-button {
  background: none;
  border: none;
  cursor: pointer;
}

.modal-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 61px;
}

.section-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.section-icon {
  width: 36px;
  height: 36px;
  flex-shrink: 0;
}

.section-title {
  color: #fff;
  font-family: Pretendard;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.section-input {
  width: 271.765px;
  height: 40px;
  color: #828282;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 12px;
  border: none;
  border-radius: 12px;
  background-color: white;
}

.confirm-button {
  margin-top: 24px;
  width: 340px;
  height: 88px;
  background-color: white;
  color: #0a326f;
  border: none;
  border-radius: 999px;
  font-family: Pretendard;
  font-size: 24px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: center;
}

.confirm-button:hover {
  background-color: #0a326f;
  color: white;
}

.withdraw-button {
  margin-top: auto;
  background: none;
  border: none;
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  text-align: right;
  cursor: pointer;
  align-self: flex-end;
}
