.email-input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.email-input-form {
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 48px;
  background-color: #fff;
  border-radius: 20px;
}

.email-input {
  box-sizing: border-box;
  border: none;
  width: 264px;
  height: 48px;
  padding-left: 12px;
  font-family: Pretendard;
  font-weight: 400;
  font-size: 20px;
  line-height: 48px;
  background-color: transparent;
}

.email-input::placeholder {
  color: #828282;

  font-size: 20px;
  font-weight: 400;
}

.email-input:focus {
  outline: none;
}

.email-input:focus::placeholder {
  color: transparent;
}

.email-input-btn {
  border: none;
  width: 84px;
  height: 24px;
  margin-right: 12px;
  color: #0a326f;
  font-family: Pretendard;
  font-size: 16px;
  font-weight: 400;
  background-color: #d9d9d9;
  border-radius: 20px;
  flex-shrink: 0;
}

.email-error-text {
  color: white;
  font-size: 14px;
  margin: 0 0 0 12px;
}
