.main {
  margin-top: 48px;
  display: flex;
  flex-direction: row;
}

.layout-main {
  margin: 0 128px;
  width: 790px;
  height: 621px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-logo {
  margin: 24px 0 111px 0;
  width: 540px;
  height: 80px;
  font-size: 96px;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  width: 790px;
  height: 60px;

  /*변동요소*/
  background-color: gray;
}
