.search-wrapper {
  width: 360px;
  height: 48px;
  background: #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: -10px 16px;
  overflow: hidden;
  margin-bottom: 24px;
}

.search-content {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  white-space: nowrap;
  overflow-x: hidden;
}

.search-tags {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  display: flex;
  gap: 8px;
  flex-wrap: nowrap;
  z-index: 1;
}

.tag-chip {
  background-color: #f5f5f5;
  border-radius: 999px;
  padding: 4px 12px;
  font-size: 14px;
  color: #333;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
  height: 30px;
  cursor: pointer;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: transparent;
  font-size: 16px;
  color: #828282;
  min-width: 80px;
  width: 300px;
  height: 32px;
}

.search-input::placeholder {
  color: #828282;
}
.search-icon-wrapper {
  width: 48px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.search-icon {
  width: 24px;
  height: 24px;
  color: linear-gradient(131deg, #a40e17 -6.92%, #ff8400 98.4%);
}
.search-icon path {
  fill: linear-gradient(131deg, #a40e17 -6.92%, #ff8400 98.4%);
}

.category-list {
  width: 360px;
  height: 318px;
  display: flex;
  flex-wrap: wrap; /* ✅ 가로 정렬 + 줄바꿈 */
  gap: 8px;
  overflow-y: auto;
  margin: 0 auto;
  justify-content: flex-start; /* ✅ 왼쪽 정렬 */
}

.category-item {
  padding: 6px 16px;
  background-color: #f5f5f5;
  border-radius: 16px;
  border: none;
  cursor: pointer;

  height: 36px;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
}

.category-item.selected {
  background-color: #000000;
  color: white;
}

.category-list::-webkit-scrollbar {
  display: none;
}
.ctg-selector-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  padding: 0 16px;
  width: 100%;
}
.reset-button {
  display: flex;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  aspect-ratio: 1 / 1;
  background-color: transparent;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  transition: background-color 0.2s ease;
}
.reset-button svg {
  width: 36px;
  height: 36px;
}
.reset-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
.save-button {
  width: 96px;
  height: 48px;
  border-radius: 20px;

  background-color: #ffffff;
  color: #000; /* 글씨 색상 */
  text-align: center;

  font-family: "Pretendard", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  border: none;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

.save-button:hover {
  background-color: #000000;
  color: #ffffff;
}
