header {
  box-sizing: border-box;
  padding: 18px 36px;
  height: 60px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.khu-logo-img {
  width: 95.752px;
  height: 28px;
}

.guest-menu {
  display: flex;
  align-items: center;
  gap: 36px;
}

.signup-btn {
  color: black;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.login-btn {
  width: 66px;
  height: 24px;
  color: white;
  background-color: black;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}

.user-menu-icon {
  cursor: pointer;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.welcome-text > h1 {
  margin: 0;
  color: #fff;
  font-family: Pretendard;
  font-size: 28px;
  font-weight: 700;
  cursor: default;
}

.welcome-text > h2 {
  margin: 0;
  color: #fff;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 400;
  cursor: default;
  margin-bottom: 24px;
}

.popover-item {
  padding: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  margin-top: 24px;
  color: white;
}

.popover-item > p {
  margin: 0 0 0 24px;
  font-size: 24px;
  font-weight: 600;
}
