.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  border-radius: 30px;
}

.search-bar > input {
  height: 100%;
  flex: 1;
  border: none;
  font-size: 24px;
  background-color: transparent;
}

.search-bar > input:focus {
  outline: none;
}

.search-button {
  cursor: pointer;
}
