.top-keyword-container {
  display: flex;
  flex-direction: row;
  margin-top: 48px;
  gap: 30px;
}

.top-keyword-item {
  padding: 0 12px 0 12px;
  height: 36px;
  border: 1px solid #a40e17;
  color: #a40e17;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
